<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/Home.css">
  <link rel="icon" type="image/x-icon" href="/img/Logo_LogoSite.png">
  <title>EvertnnDev</title>
</head>
<body>
  <header>
    <nav class="menu">
      <div class="menu-left">EvertnnDev</div>
      <div class="menu-right">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <div class="dropdown">
          <a href="#">Pages</a>
          <div class="dropdown-content">
            <a href="#">Projects</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="org">
      <div class="displayleft">
        <div class="texts">
          <h1 id="title1">I’m Everton, a</h1>
          <h1 id="title2">Web Developer</h1>
          <h3 id="Paragrafo1"></h3>
        </div>
         <div class="buttonprojects">
            <button id="buttonprojects"></button>
         </div>
      </div>

      <div class="displayright">
        </div>
       <!-- <div class="org1">
          <h1 id="follow">FOLLOW ME</h1>
          <div class="icons">
                   <a href="https://github.com/EvertnnSantts"><img id="imggit" src="/img/github (1).png" alt="github"></a>
                    <a href="https://w.app/EvertnnDev"><img id="imgwhat" src="/img/whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.instagram.com/evert.nn/"><img id="imginsta" src="/img/instagram (1).png" alt="instagram"></a>
                    <a href=""><img id="imglink" src="/img/linkedin (2).png" alt="linkedin"></a>
          </div>
        </div>-->
      </div>
    </section>
  </main>
  <!--projects-->
  <hr id="linha1">
  <section class="Secrionprojects" id="carousel"> 
    <div class="org4">
      <div class="database">
        <h1 id="titlrdatabase">DATABASE</h1>
        <h1 id="desctiondatabase">I have experience with databases, focusing on MySQL, working on data modeling, management, and integration in backend projects. I strive to apply best practices to ensure efficiency and security in the solutions I develop.</h1>
      </div>
      <div class="js">
        <h1 id="titlejs">JavaScript</h1>
        <h1 id="desctionjs">I have experience with JavaScript, focusing on backend development and integrating it with various technologies. I apply best practices to ensure efficient and scalable solutions in the projects I work on</h1>
      </div>
      <div class="full">
        <h1 id="titlefull">FullStack</h1>
        <h1 id="desctionfull">I have experience as a full-stack developer, working with both frontend and backend technologies. I focus on JavaScript for building robust and scalable solutions, integrating databases like MySQL, and ensuring seamless performance across the entire stack.</h1>
      </div>
    </div>
  </section>

  <!--Footer-->
  <footer>
    <div class="infos">
      <div class="info1">
        <h1 id="TitleInfo1">About Me</h1>
        <h1 id="textinfo1">I am a developer passionate about creating efficient and innovative solutions. With experience in backend development using technologies like JavaScript, MySQL, ReactJS, and PHP.</h1>
        <hr>
      </div>
      <div class="info2">
        <h1 id="TitleInfo2">Contact Me</h1>
        <h1 id="textinfo2">Have an idea or project in mind? I'd love to chat about how I can help! Reach out to discuss how we can turn your needs into amazing digital solutions.</h1>
        <hr>
      </div>
      <div class="info3">
        <h1 id="TitleInfo3">Social Media</h1>
        <h1 id="textinfo3">Connect with me on social media to stay updated on my projects, news, and share knowledge about web development. Follow me and stay tuned for my latest updates!</h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="icons2">
    <a href="https://github.com/EvertnnSantts"><img id="imggit" src="/img/github (1).png" alt="github"></a>
    <a href="https://w.app/EvertnnDev"><img id="imgwhat" src="/img/whatsapp.png" alt="whatsapp"></a>
    <a href="https://www.instagram.com/evert.nn/"><img id="imginsta" src="/img/instagram (1).png" alt="instagram"></a>
    <a href=""><img id="imglink" src="/img/linkedin (2).png" alt="linkedin"></a>
  </div>
  </footer>
</body>
</html>
<script src="/JS/Home.js"></script>