<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Home.css">
    <title>EvertnnDev</title>
</head>
<body>
 <!--Menu-->
    <nav class="menu">
        <div class="menu-left">EvertnnDev</div>
        <div class="menu-right">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Blog</a>
            <div class="dropdown">
                <a href="#">Pages</a>
                <div class="dropdown-content">
                    <a href="#">Projects</a>
                </div>
            </div>
        </div>
    </nav>
 <!--organização-->
    <section  class="org">
        <!--displayleft-->
        <section class="displayleft">
            <div class="texts">
                <h1 id="title1">I’ m Everton, a</h1>
                <h1 id="title2">Web Developer</h1>
                <h3 id="Paragrafo1">Web Developer | Specialist in JavaScript and MySQL 
                | Systems Analysis and Development student at IFBA | 
                Focused on creating robust systems and efficient technol
              </h3>
            </div>
        </section>
        <!--displayright-->
        <section class="displayright">
            <div class="about">
                <h1 id="Tabout">About me</h1>
                <h3 id="Paragrafo2">
                    I am a backend web developer with expertise in technologies such as JavaScript, MySQL, ReactJS, 
                    and PHP, currently pursuing a degree in Systems Analysis and Development at IFBA. My work focuses 
                    on building robust, secure, and scalable web applications, 
                    with a strong emphasis on efficiency and best development practices.
                </h3>
            </div>
            <div class="work">
                <h1 id="TMywork">My Work</h1>
                <h3 id="Paragrafo3">
                    As a backend web developer, I specialize in creating scalable and high-performance web applications 
                    using JavaScript, MySQL, ReactJS, and PHP. My projects often involve building secure APIs, 
                    database optimization, and crafting seamless integrations between front-end and back-end components
                </h3>
            </div>
            <div class="org1">
                <h1 id="follow">FOLLOW ME</h1>
                <div class="icons">
                    <a href="https://github.com/EvertnnSantts"><img id="imggit" src="/img/github (1).png" alt="github"></a>
                    <a href="https://w.app/EvertnnDev"><img id="imgwhat" src="/img/whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.instagram.com/evert.nn/"><img id="imginsta" src="/img/instagram (1).png" alt="instagram"></a>
                    <a href=""><img id="imglink" src="/img/linkedin (2).png" alt="linkedin"></a>
                </div>
            </div>
        </section>
    </section>
   
</body>
</html>