@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Irish+Grover&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(56, 1, 166, 1);
}

/*menu*/
.menu{
  width: 1250px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(9, 1, 27, 1)s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 1s;
}

.menu-left {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: aliceblue;
}


.menu-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-right a:hover {
    color:  rgba(9, 1, 27, 1); 
    transition: 1s;
}

/*conteudo*/
.org{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 650px;
    gap: 40px;
}

.displayleft{
    margin: auto;
    text-align: center;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background: rgba(9, 1, 27, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayright{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

/*text e conteudo do displayleft*/
.texts{
    width: 500px;
    height: 200px;
    text-align: left;
}

#title1, #title2{
    text-align: left;
    font-size: 50px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: auto;
    font-style: normal;
    color: white;
}

#Paragrafo1{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    width: 400px;
    height: 30px;
}

/*displayright*/
.about{
    width: 500px;
    height: 150px;
    text-align: left;
}

.work{
    width: 500px;
    height: 150px;
    text-align: left;
}

#Tabout{
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: auto;
    font-style: normal;
    color: white;
}

#Paragrafo2{
    font-size: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    margin: auto;
    font-style: normal;
    color: white;
}

#TMywork{
    font-size: 20px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    margin: auto;
    font-style: normal;
    color: white;
}

#Paragrafo3{
    font-size: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    margin: auto;
    font-style: normal;
    color: white;
}

#imggit, #imginsta, #imglink, #imgwhat{
    width: 20px;
    height: 20px;
}

#follow{
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 30px;
    font-size: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    margin: auto;
    font-style: normal;
    color: white;
}

.icons{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 500px;
    height: 30px;
}

  /* Responsivo */
  
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }
    .displayleft {
      width: 600px;
    }
    .displayright {
      width: 500px;
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .menu {
      padding: 0.5em;
      margin-bottom: 50px;
    }
    .org {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
      }

    .displayleft {
      padding: 1em;
      width: 300px;
    }
     
    .displayright{
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        max-width: 330px; 
        margin: 10px 0;
        padding: 15px;
        box-sizing: border-box;
      }

    .about, .work{
        width: 300px;
    }

    .texts{
       align-items: center
    }

    #Paragrafo1{
       width: 300px;
    }

    #title1, #title2 {
      font-size: 1.5em;
    }
   
    #Tabout, #TMywork {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

    #Paragrafo2, #Paragrafo3{
        font-size: 12px;
    }

    .org1{
     width: 300px;
    }
  }